<div class="about">
    <img class="photo1" src="../images/about-1.JPG" alt="server lost">
    <div class="container1">
        <div class="container2">
            <p class="text1">
                Профессиональный портретный и контент фотограф из Москвы,
                провожу индивидуальные фотосессии более 5 лет
            </p>
            <img class="photo2" src="../images/about-2.JPG" alt="server lost">
        </div>
        <p class="text2">
            В своей работе руководствуюсь главным правилом: забота и
            индивидуальный подход. Поэтому беру на себя всю организацию
            фотосессии от формирования образа до конечного результата
        </p>
    </div>
</div>
