<div class="about">
    <div class="container">
        <div class="box1"><img class="photo1" src="../images/about-1.jpg" alt="about-1"></div>
        <p class="text1">
            Профессиональный портретный и контент фотограф из Москвы,
            провожу индивидуальные фотосессии более 5 лет
        </p>
        <div class="box2"><img class="photo2" src="../images/about-2.jpg" alt="about-2"></div>
    </div>
    <p class="text2">
        В своей работе руководствуюсь главным правилом: забота и
        индивидуальный подход. Поэтому беру на себя всю организацию
        фотосессии от формирования образа до конечного результата
    </p>
</div>