<div class="contacts">
    <div class="text">
        <p class="header">Связаться со мной</p>
        <p class="tel">8 (929) 991-52-93</p>
        <div class="items">
            <a class="item" href="https://www.instagram.com/zababurin.ph/" target="_blank">
                <img class="logo" src="../images/insta.png" alt="server lost">
                <span class="name">Instagram: instagram.com/zababurin.ph</span>
            </a>
            <a class="item" href="https://t.me/zababurin_ph" target="_blank">
                <img class="logo" src="../images/tg.png" alt="server lost">
                <span class="name">Telegram: t.me/zababurin_ph</span>
            </a>
            <a class="item" href="https://wa.me/79299915293" target="_blank">
                <img class="logo" src="../images/wa.png" alt="server lost">
                <span class="name">WhatsApp: wa.me/79299915293</span>
            </a>
            <a class="item" href="https://vk.com/zababurin_ph" target="_blank">
                <img class="logo" src="../images/vk.png" alt="server lost">
                <span class="name">Вконтакте: vk.com/zababurin_ph</span>
            </a>
        </div>
    </div>
    <img class="photo" src="../images/contacts.jpg" alt="server lost">
</div>