<div class="gallery">
    <div class="gallery-container">
        <img class="photo" src="../images/gallery-1.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-2.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-3.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-4.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-5.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-6.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-7.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-8.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-9.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-10.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-11.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-12.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-13.jpg" alt="server lost">
        <img class="photo" src="../images/gallery-14.jpg" alt="server lost">
    </div>
</div>