<div class="gallery">
    <div class="gallery-container">
        <div class="container">
            <img decoding="async" class="photo" src="../images/gallery-1.jpg" alt="gallery-1">
            <div class="review">
                <div class="header">
                    <img decoding="async" class="avatar" src="../images/gallery-1-ava.jpg" alt="gallery-1-ava">
                    <div class="header-text">
                        <p class="name">Надюша Колева</p>
                        <a href="https://www.instagram.com/person_on_holme/" target="_blank">@person_on_holme</a>
                    </div>
                </div>
                <p class="text">
                    Съемка очень сильно подняла мне настроение! И как я была воодушевлена,
                    когда такие фотографии пришли через 6 часов после фотосессии!!! И я
                    так себе там понравилась) Изначально планировала максимально позитивный
                    и милый образ, получилось чуть грустно, но не менее мило)
                </p>
            </div>
        </div>
        <div class="container">
            <img decoding="async" class="photo" src="../images/gallery-2.jpg" alt="gallery-2">
            <div class="review">
                <div class="header">
                    <img decoding="async" class="avatar" src="../images/gallery-2-ava.jpg" alt="gallery-2-ava">
                    <div class="header-text">
                        <p class="name">Надя Филатова</p>
                        <a href="https://www.instagram.com/svetbezplameny/" target="_blank">@svetbezplameny</a>
                    </div>
                </div>
                <p class="text">
                    У вас будут крутые фотки, даже если вы: не любите фотографироваться,
                    не умеете позировать, не знаете зачем вам фотографии, не знаете идею
                    фотографий и в редких случаях когда вы даже не просите вас пофоткать.
                    В любое время дня и ночи, в любом месте он сделает вам фотографии,
                    которые обязательно понравятся. И сам пришлет готовые фотографии очень
                    скоро. Без напоминаний!
                </p>
            </div>
        </div>
        <div class="container">
            <img decoding="async" class="photo" src="../images/gallery-16.jpg" alt="gallery-16">
            <div class="review">
                <div class="header">
                    <img decoding="async" class="avatar" src="../images/gallery-16-ava.jpg" alt="gallery-16-ava">
                    <div class="header-text">
                        <p class="name">Рушана Исламгулова</p>
                        <a href="https://www.instagram.com/rshn_25/" target="_blank">@rshn_25</a>
                    </div>
                </div>
                <p class="text">
                    Была очень классная фотосессия, несмотря на самоизоляцию😁
                    Фотограф всегда на позитиве и это +100 к вашему позитиву👌🏻
                    Фотографии тщательно обработаны и передают все солнечные лучики 🌞
                    Рекомендую👍🏻
                </p>
            </div>
        </div>
        <div class="container">
            <img decoding="async" class="photo" src="../images/gallery-17.jpg" alt="gallery-17">
            <div class="review">
                <div class="header">
                    <img decoding="async" class="avatar" src="../images/gallery-17-ava.jpg" alt="gallery-17-ava">
                    <div class="header-text">
                        <p class="name">Никита Пустовалов</p>
                        <a href="https://www.instagram.com/pustovalov__n/" target="_blank">@pustovalov__n</a>
                    </div>
                </div>
                <p class="text">
                    В чем заключается профессионализм? В том, на сколько качественно ты 
                    можешь сделать работу в спонтанных и непредвиденных обстоятельствах. 
                    Быстро, четко и с таким результатом, будто бы на работу было потрачено 3-4 часа, а
                    не 20-35 минут. Идеи, как поставить машину и в каком сюжете делать снимок, Тимофей 
                    придумывал на ходу и все они получились очень выигрышными позициями.
                    Результат превзошел мои ожидания в несколько раз. Всем очень рекомендую делать заказы на съемку у 
                    Тимофея. Сам буду всем советовать!
                </p>
            </div>
        </div>
        <img decoding="async" class="photo" src="../images/gallery-3.jpg" alt="gallery-3">
        <img decoding="async" class="photo" src="../images/gallery-4.jpg" alt="gallery-4">
        <img decoding="async" class="photo" src="../images/gallery-5.jpg" alt="gallery-5">
        <img decoding="async" class="photo" src="../images/gallery-6.jpg" alt="gallery-6">
        <img decoding="async" class="photo" src="../images/gallery-7.jpg" alt="gallery-7">
        <img decoding="async" class="photo" src="../images/gallery-8.jpg" alt="gallery-8">
        <img decoding="async" class="photo" src="../images/gallery-9.jpg" alt="gallery-9">
        <img decoding="async" class="photo" src="../images/gallery-10.jpg" alt="gallery-10">
        <img decoding="async" class="photo" src="../images/gallery-11.jpg" alt="gallery-11">
        <img decoding="async" class="photo" src="../images/gallery-12.jpg" alt="gallery-12">
        <img decoding="async" class="photo" src="../images/gallery-13.jpg" alt="gallery-13">
        <img decoding="async" class="photo" src="../images/gallery-14.jpg" alt="gallery-14">
    </div>
</div>