<div class="gallery">
    <div class="gallery-container">
        <img decoding="async"  class="photo" src="../images/gallery-1.jpg" alt="gallery-1">
        <img decoding="async"  class="photo" src="../images/gallery-2.jpg" alt="gallery-2">
        <img decoding="async"  class="photo" src="../images/gallery-3.jpg" alt="gallery-3">
        <!-- <img decoding="async"  class="photo" src="../images/gallery-4.jpg" alt="gallery-4"> -->
        <img decoding="async"  class="photo" src="../images/gallery-5.jpg" alt="gallery-5">
        <img decoding="async"  class="photo" src="../images/gallery-6.jpg" alt="gallery-6">
        <img decoding="async"  class="photo" src="../images/gallery-7.jpg" alt="gallery-7">
        <img decoding="async"  class="photo" src="../images/gallery-8.jpg" alt="gallery-8">
        <img decoding="async"  class="photo" src="../images/gallery-9.jpg" alt="gallery-9">
        <img decoding="async"  class="photo" src="../images/gallery-10.jpg" alt="gallery-10">
        <img decoding="async"  class="photo" src="../images/gallery-11.jpg" alt="gallery-11">
        <img decoding="async"  class="photo" src="../images/gallery-12.jpg" alt="gallery-12">
        <img decoding="async"  class="photo" src="../images/gallery-13.jpg" alt="gallery-13">
        <img decoding="async"  class="photo" src="../images/gallery-14.jpg" alt="gallery-14">
    </div>
</div>