<div class="main">
    <img class="photo1" src="../images/main.JPG" alt="server lost">
    <div class="container">
        <h1 class="name">ТИМА</h1>
        <h1 class="surname">ЗАБАБУРИН</h1>
        <div class="div_mazok">
            <img class="mazok" src="../images/mazok.png" alt="server lost">
            <h1 class="port">портретный фотограф</h1>
        </div>
        <div class="div_sos">
            <span class="sos">scroll or slide</span>
            <img class="strelka" src="../images/strelka.png" alt="server lost">
        </div>
    </div>
</div>