<div class="rates">
    <div class="container">
        <p class="name">ВСЕ ГЕНИАЛЬНОЕ — ПРОСТО</p>
        <hr>
        <p class="cost">4 990 ₽</p>
        <div class="text">
            <p class="p">- длительность: 1 час</p>
            <p class="p">- подбор образа и локации</p>
            <p class="p">- 30 разноплановых фотографий в авторской цветокоррекции</p>
            <p class="p">- срок сдачи через 24 часа</p>
            <p class="p">- передача фотографий через файлообменник, ссылка на полгода</p>
            <a class="button" href="https://forms.gle/EcLcPRabdfqNxEed7">ЗАПИСАТЬСЯ</a>
        </div>
    </div>
    <div class="container">
        <p class="name">ГУЛЯТЬ ТАК ГУЛЯТЬ</p>
        <hr>
        <p class="cost">9 990 ₽</p>
        <div class="text">
            <p class="p">- длительность: 1 час</p>
            <p class="p">- подбор образа и локации</p>
            <p class="p">- аренда студии</p>
            <p class="p">- 30 разноплановых фотографий в авторской цветокоррекции</p>
            <p class="p">- 10 фотографий в ретуши</p>
            <p class="p">- возможность самостоятельно выбрать фото для ретуши</p>
            <p class="p">- срок сдачи обработанных фотографий через 24 часа</p>
            <p class="p">- срок сдачи отретушированных фотографий через 7 дней</p>
            <p class="p">- передача фотографий через файлообменник, ссылка на полгода</p>
            <a class="button" href="https://forms.gle/EcLcPRabdfqNxEed7">ЗАПИСАТЬСЯ</a>
        </div>
    </div>
    <div class="container">
        <p class="name">ОЙ, ВСЕ... (ВКЛЮЧЕНО)</p>
        <hr>
        <p class="cost">17 990 ₽</p>
        <div class="text">
            <p class="p">- длительность: 1 час</p>
            <p class="p">- подбор образа и локации</p>
            <p class="p">- аренда студии</p>
            <p class="p">- образ от визажиста (макияж + укладка)</p>
            <p class="p">- 30 разноплановых фотографий в авторской цветокоррекции и ретуши  </p>
            <p class="p">- возможность самостоятельно выбрать фото для ретуши</p>
            <p class="p">- срок сдачи через 7 дней</p>
            <p class="p">- передача фотографий через файлообменник, ссылка на полгода</p>
            <a class="button" href="https://forms.gle/EcLcPRabdfqNxEed7">ЗАПИСАТЬСЯ</a>
        </div>
    </div>
</div>