<div class="rates">
    <div class="container">
        <p class="name">ВСЕ ГЕНИАЛЬНОЕ — ПРОСТО</p>
        <hr>
        <p class="cost">6 990 ₽</p>
        <div class="text">
            <p class="p">- длительность: 1 час</p>
            <p class="p">- подбор образа и локации</p>
            <p class="p">- 30 разноплановых фотографий в авторской цветокоррекции</p>
            <p class="p">- 10 фотографий в ретуши</p>
            <p class="p">- возможность самостоятельно выбрать фото для ретуши</p>
            <p class="p">- срок сдачи в течение 7 дней</p>
            <p class="p">- передача фотографий через файлообменник, ссылка на полгода</p>
            <button class="button">ЗАПИСАТЬСЯ</button>
        </div>
    </div>
    <div class="container">
        <p class="name">ГУЛЯТЬ ТАК ГУЛЯТЬ</p>
        <hr>
        <p class="cost">11 990 ₽</p>
        <div class="text">
            <p class="p">- длительность: 1 час</p>
            <p class="p">- подбор образа и локации</p>
            <p class="p">- аренда студии</p>
            <p class="p">- 40 разноплановых фотографий в авторской цветокоррекции</p>
            <p class="p">- 15 фотографий в ретуши</p>
            <p class="p">- возможность самостоятельно выбрать фото для ретуши</p>
            <p class="p">- срок сдачи в течение 7 дней</p>
            <p class="p">- передача фотографий через файлообменник, ссылка на полгода</p>
            <button class="button">ЗАПИСАТЬСЯ</button>
        </div>
    </div>
    <div class="container">
        <p class="name">ОЙ, ВСЕ... (ВКЛЮЧЕНО)</p>
        <hr>
        <p class="cost">18 990 ₽</p>
        <div class="text">
            <p class="p">- длительность: 1 час</p>
            <p class="p">- подбор образа и локации</p>
            <p class="p">- аренда студии</p>
            <p class="p">- образ от визажиста (макияж + укладка)</p>
            <p class="p">- 50 разноплановых фотографий в авторской цветокоррекции</p>
            <p class="p">- 20 фотографий в ретуши</p>
            <p class="p">- возможность самостоятельно выбрать фото для ретуши</p>
            <p class="p">- срок сдачи в течение 7 дней</p>
            <p class="p">- передача фотографий через файлообменник, ссылка на полгода</p>
            <button class="button">ЗАПИСАТЬСЯ</button>
        </div>
    </div>
</div>