<div class="taplink">
    <h1 class="insta-name">@zababurin.ph</h1>
    <a class="item" style="margin-top: 3em;" href="https://www.instagram.com/zababurin.ph/" target="_blank">
        <img class="item-logo" src="../images/insta.png" alt="server lost">
        <div class="item-name">INSTAGRAM</div>
    </a>
    <a class="item" href="https://t.me/zababurin_ph" target="_blank">
        <img class="item-logo" src="../images/tg.png" alt="server lost">
        <div class="item-name">TELEGRAM</div>
    </a>
    <a class="item" href="https://wa.me/79299915293" target="_blank">
        <img class="item-logo" src="../images/wa.png" alt="server lost">
        <div class="item-name">WHATSAPP</div>
    </a>
    <a class="item" href="https://vk.com/zababurin_ph" target="_blank">
        <img class="item-logo" src="../images/vk.png" alt="server lost">
        <div class="item-name">VKONTAKTE</div>
    </a>
</div>
