<div class="taplink">
    <span class="header">Написать мне:</span>
    <a class="item" style="margin-top: 3em;" href="https://www.instagram.com/zababurin.ph/" target="_blank">
        <img class="logo" src="../images/insta.png" alt="server lost">
        <div class="name">INSTAGRAM</div>
    </a>
    <a class="item" href="https://t.me/zababurin_ph" target="_blank">
        <img class="logo" src="../images/tg.png" alt="server lost">
        <div class="name">TELEGRAM</div>
    </a>
    <a class="item" href="https://wa.me/79299915293" target="_blank">
        <img class="logo" src="../images/wa.png" alt="server lost">
        <div class="name">WHATSAPP</div>
    </a>
    <a class="item" href="https://vk.com/zababurin_ph" target="_blank">
        <img class="logo" src="../images/vk.png" alt="server lost">
        <div class="name">VKONTAKTE</div>
    </a>
</div>
