.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    .container {
        display: flex;
        .photo1 {
            position: relative;
            z-index: 10;
            height: 85vh;
            min-height: 560px;
            margin: 0 20px 0 40px;
        }
        .text1 {
            width: 340px;
            font-size: 2em;
            margin-top: 25vh;
        }
        .photo2 {
            position: relative;
            z-index: 10;
            height: 62vh;
            min-height: 410px;
            // width: 46vh;
            // min-width: 270px;
            margin: 0 100px 0 20px;
        }
    }
    .text2 {
        position: relative;
        z-index: 9;
        // width: calc(50vh + 840px);
        font-size: 2em;
        bottom: 29vh;
        background-color: rgb(56, 56, 56);
        color: white;
        padding: 10vh 20px 200px 50vh;
        margin: 0 40px 0 15.5vh;
    }
}
