.contacts {
    display: flex;
    justify-content: left;
    align-items: center;
    .text {
        .header {
            font-size: 3em;
            text-align: center;
        }
        .tel {
            margin-top: 10px;
            font-size: 3em;
            text-align: center;
        }
        .items {
            margin-top: 50px;
            .item {
                display: flex;
                align-items: center;
                white-space: nowrap;
                padding: 15px 60px;
                border-radius: 1px;
                transition: color 0.4s, background-color 0.4s;
                .logo {
                    width: 50px;
                    transition: filter 0.1s;
                }
                .name {
                    margin-left: 10px;
                    font-size: 2em;
                }
            }
            .item:hover {
                color: white;
                background-color: rgb(56, 56, 56);
                .logo {
                    filter: invert(1);
                }
            }
        }
    }
    .box {
        position: relative;
        overflow: hidden;
        height: 100vh;
        min-height: 660px;
        width: 66vh;
        min-width: 440px;
        .photo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-80%, -50%);
            height: 100%;
        }
    }
}
