.main {
    display: flex;
    justify-content: left;
    align-items: center;
    .box {
        position: relative;
        overflow: hidden;
        height: 100vh;
        min-height: 660px;
        width: 67vh;
        min-width: 447px;
        .photo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
        }
    }
    .photo {
        height: 100vh;
        min-height: 660px;
    }
    .container {
        margin-top: 100px;
        text-align: center;
        .name {
            position: relative;
            font-size: 5em;
            text-align: left;
            margin-left: 40px;
        }
        .surname {
            font-size: 5em;
            text-align: right;
            margin-left: 100px;
            margin-right: 40px;
        }
        .div_mazok {
            position: relative;
            margin-top: 2em;
            .mazok {
                height: 100px;
            }
            .port {
                position: relative;
                bottom: 77px;
                font-size: 2.6em;
                color: white;
            }
        }
        .div_sos {
            position: relative;
            margin-top: 100px;
            .sos {
                font-size: 2.6em;
            }
            .strelka {
                width: 60px;
                margin-left: 10px;
            }
        }
    }
}
