.rates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container {
        text-align: center;
        background-color: rgb(154, 105, 72);
        padding: 20px;
        width: 390px;
        color: white;
        margin: 0 20px;
        .name {
            font-size: 1.5em;
        }
        .cost {
            font-size: 2.5em;
            margin: 15px 0;
        }
        .text {
            background-color: white;
            color: black;
            line-height: 1.3em;
            font-size: 1.3em;
            padding: 10px 20px;
            height: 550px;
            position: relative;
            .p {
                text-align: start;
                padding-top: 5px;
            }
            .button {
                position: absolute;
                bottom: 15px;
                right: 85px;
                padding: 15px;
                margin-top: 20px;
                border-radius: 1px;
                background-color: rgb(154, 105, 72);
                color: white;
                font-size: 1.1em;
                cursor: pointer;
                transition: all 0.2s;
            }
            .button:hover {
                background-color: rgb(179, 130, 97);
            }
        }
    }
}