html,
body {
    font-family: "Cormorant-Light", serif;
    margin: 0;
}

body {
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
    transition: all 0.1s;
}

.separator {
    border-left: 3px solid rgb(154, 105, 72);
    border-right: 3px solid rgb(154, 105, 72);
}
.separator-black {
    background-color: rgb(56, 56, 56);
    color: white;
}
.separator .text {
    width: 40px;
    font-size: 2em;
    white-space: nowrap;
    transform-origin: left top;
    transform: rotate(-90deg) translate(-130vh, 5px);
}

@media (max-width: 720px) {
}
