.taplink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
    .header {
        white-space: nowrap;
        font-size: 2.5em;
        margin: 0 1.5em;
        color: white;
    }
    .item {
        margin-top: 1em;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 12px;
        border-radius: 1px;
        width: 280px;
        .logo {
            width: 50px;
        }
        .name {
            margin-left: 10px;
            font-size: 2em;
        }
    }
    .item:hover {
        background-color: rgb(223, 223, 223);
    }
}
